
    <div class="row justify-content-center" style="margin-bottom: 28px;">
        <div class="card-body">
                <div class="row align-items-start">
                        <div class="col">
                            Ward 1- Next Week
                            <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 85%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week (25%)</p>
                        </div>
                        <div class="col">
                                Ward 2- Next Week
                            <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 85%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week (25%)</p>
                    
                        </div>
                        <div class="col">
                                Ward 3- Next Weeks
                            <div class="progress">
                                    <div class="progress-bar bg-primary" role="progressbar" style="width: 85%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <!--Text-->
                                <p class="card-text">Better than last week (25%)</p>
                        </div>
                    </div>
           
           
           
        </div>
    </div>

<div class="card card-cascade narrower">

  <!--Card image-->
  <div class="view view-cascade gradient-card-header blue-gradient narrower py-2 mx-4 mb-3 d-flex justify-content-between align-items-center">

    <div class="round">
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-th-large mt-0"></i></button>
        <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i class="fa fa-columns mt-0"></i></button>
    </div>

    <a href="" class="white-text mx-3">Table name</a>

    <div class="round">
      <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2" data-toggle="modal" data-target="#basicExample" (click)="fluidRight.show()"
      mdbWavesEffect>
              <i class="fa fa-plus fa-2x" aria-hidden="true" ></i>
      </button>
     
  </div>

</div>
  <!--/Card image-->

  <div class="px-4">

      <!--Table-->
      <table class="table table-hover table-responsive-md mb-0">

          <!--Table head-->
          <thead>
              <tr>
                  <th scope="row">ID</th>
                  <th class="th-lg">Name</th>
                  <th class="th-lg">Current Ward</th>
                  <th class="th-lg">Current Level</th>
                  <th class="th-lg">Ward Changes</th>
                  <th class="th-lg">Priority</th>
                  <th class="th-lg">Action</th>

              </tr>
          </thead>
          <!--Table head-->

          <!--Table body-->
          <tbody>
              <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>1</td>
                  <td>Level 4</td>
                  <td>3</td>
                  <td><span class="badge badge-danger badge-pill ">&nbsp;&nbsp;&nbsp;High&nbsp;&nbsp;&nbsp;</span></td>
                <td  class="round">
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-pencil mt-0" style="color: brown"></i>
                </button>
                <button type="button" class="btn btn-danger btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-remove mt-0" style="color: red"></i>
                </button>
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i  style="color: blue" class="fa fa-info-circle mt-0"></i></button>
                </td>
                </tr>
              <tr>
                <th scope="row">2</th>
                <td>Jagath</td>
                <td>2</td>
                <td>Level 3</td>
                <td>3</td>
                <td><span class="badge badge-warning badge-pill ">&nbsp;&nbsp;&nbsp;Medium&nbsp;&nbsp;&nbsp;</span></td>
                <td  class="round">
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-pencil mt-0" style="color: brown"></i>
                </button>
                <button type="button" class="btn btn-danger btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-remove mt-0" style="color: red"></i>
                </button>
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i  style="color: blue" class="fa fa-info-circle mt-0"></i></button>
                </td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Ranathunga</td>
                <td>2</td>
                <td>Level 2</td>
                <td>2</td>
                <td><span class="badge badge-success badge-pill ">&nbsp;&nbsp;&nbsp;Medium&nbsp;&nbsp;&nbsp;</span></td>
                <td  class="round">
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-pencil mt-0" style="color: brown"></i>
                </button>
                <button type="button" class="btn btn-danger btn-outline-white btn-rounded btn-sm px-2">
                    <i class="fa fa-remove mt-0" style="color: red"></i>
                </button>
                  <button type="button" class="btn btn-outline-white btn-rounded btn-sm px-2"><i  style="color: blue" class="fa fa-info-circle mt-0"></i></button>
                </td>
                </tr>
              
          </tbody>
          <!--Table body-->
      </table>

  </div>

  <hr class="my-0">

  <!--Bottom Table UI-->
  <div class="d-flex justify-content-center">

      <!--Pagination -->
      <nav class="my-4 pt-2">
          <ul class="pagination pagination-circle pg-purple mb-0">

              <!--First-->
              <li class="page-item disabled clearfix d-none d-md-block"><a class="page-link">First</a></li>

              <!--Arrow left-->
              <li class="page-item disabled">
                  <a class="page-link" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
              </a>
              </li>

              <!--Numbers-->
              <li class="page-item active"><a class="page-link">1</a></li>
              <li class="page-item"><a class="page-link">2</a></li>
              <li class="page-item"><a class="page-link">3</a></li>
              <li class="page-item"><a class="page-link">4</a></li>
              <li class="page-item"><a class="page-link">5</a></li>

              <!--Arrow right-->
              <li class="page-item">
                  <a class="page-link" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
              </a>
              </li>

              <!--First-->
              <li class="page-item clearfix d-none d-md-block"><a class="page-link">Last</a></li>

          </ul>
      </nav>
      <!--/Pagination -->

  </div>
  <!--Bottom Table UI-->

</div>
  <!-- <div class="text-center">
    <button type="button" class="btn btn-primary waves-light" data-toggle="modal" data-target="#basicExample" (click)="fluidRight.show()"
      mdbWavesEffect>
      Right
    </button> -->
    
<div mdbModal #fluidRight="mdb-modal" #style="mdb-modal" class="modal fade right" id="fullHeightModalRight" tabindex="-1"
role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog modal-full-height modal-right " role="document">
    <div class="modal-content">
        <div class="modal-header" style="color: orange ">
            <h4 class="modal-title w-100" id="myModalLabel">New Patient</h4>
            <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="fluidRight.hide()">
                <span aria-hidden="true">×</span>
            </button> -->
        </div>
        <div class="modal-body">

            <ul class="list-group z-depth-0">
                <form>
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="contactFormNam1e" class="form-control" mdbInputDirective>
                        <label for="contactFormName">Name</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="text" id="contactFormName2" class="form-control" mdbInputDirective>
                        <label for="contactFormName">Address</label>
                    </div>
                    <div class="md-form">
                        <i class="fa fa-user prefix grey-text"></i>
                        <input type="password" id="contactFormName3" class="form-control" mdbInputDirective>
                        <label for="contactFormName">Date</label>
                    </div>

                    <div class="md-form">
                        <i class="fa fa-ambulance prefix grey-text" style="font-size:28px"></i>
                        <input type="email" id="contactFormEmail" class="form-control" mdbInputDirective>
                        <label for="contactFormEmail">Ward</label>
                    </div>
                    <div class="md-form">
                      <i class="fa fa-ambulance prefix grey-text" style="font-size:28px"></i>
                      <input type="email" id="contactFormEmail" class="form-control" mdbInputDirective>
                      <label for="contactFormEmail">Level</label>
                  </div>

                    <div class="md-form">
                        <i class="fa fa-line-chart prefix grey-text" style="font-size:28px"></i>
                        <input type="text" id="contactFormSubject" class="form-control" mdbInputDirective>
                        <label for="contactFormSubject">Priority</label>
                    </div>

                    <!-- <div class="md-form">
          <i class="fa fa-pencil prefix grey-text"></i>
          <textarea type="text" id="contactFormMessage"  class="md-textarea" style="height: 100px"
          mdbInputDirective></textarea>
          <label for="contactFormMessage"></label>
        </div>
       -->
                    <!-- <div class="text-center">
          <button class="btn btn-unique waves-light" mdbWavesEffect>Send
            <i class="fa fa-paper-plane-o ml-1"></i>
          </button>
        </div> -->
                </form>
                <!-- contact form -->
            </ul>
        </div>
        <div class="modal-footer justify-content-center">
            <button type="button" class="btn btn-secondary waves-light" data-dismiss="modal" (click)="fluidRight.hide()" mdbWavesEffect>Close</button>
            <button type="button" class="btn btn-primary waves-light" mdbWavesEffect>Save changes</button>
        </div>
    </div>
</div>
</div>

 